In [143]:
import pandas as pd, numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [56]:
customer_data = pd.read_csv('data.csv', encoding_errors='ignore')

In [57]:
customer_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [58]:
#checking whether stockCode is repatitive
x = set(customer_data['StockCode'])
print(len(x))
#checking invoice
print(len(customer_data['InvoiceNo']))

4070
541909

In [59]:
head = customer_data.head()
head

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [60]:
# pd.crosstab(customer_data['StockCode'], customer_data['Description']).head()

In [62]:
# pd.crosstab(customer_data['CustomerID'], customer_data['Description'])

In [69]:
unique_customers = len(customer_data['CustomerID'].unique())
print('Unique customers are: ', unique_customers)
unique_Products = len(customer_data['Description'].unique())

print('Unique products are: ', unique_Products)

Unique customers are:  4373
Unique products are:  4224

In [109]:
#removing all negative quantity(quantity cant be negative)
drop_index = [customer_data.index[i] for i in customer_data[customer_data['Quantity']<0].index]
customer_data.drop(drop_index, inplace=True)

In [98]:
#getting all the countries data
all_countries= customer_data['Country'].unique()
print(len(all_countries))
all_countries

38

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [136]:
#adding countries and their details as dict key value pairs
c = {}
v = []
for i in all_countries:
    c[i] = 0
for i in all_countries:
    v.append(customer_data[customer_data['Country'] == i].reset_index(drop=True))
for i, j in enumerate(v):
    c[list(c)[i]] = j

In [172]:
#population piechart
exp_values = [len(i) for i in v]
fig = plt.figure(figsize=(100, 10))
plt.bar(all_countries, exp_values, width=0.3, color = 'maroon')

TypeError: can only concatenate str (not "float") to str